# Redes Neuronales Artificales

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Instalar Theano
# pip install --upgrade --no-deps git+git://github.com/Theano/Theano.git

# Instalar Tensorflow y Keras
#!conda install -c conda-forge keras

In [0]:
# Parte 1 - Pre procesado de datos

In [0]:
# Cómo importar las librerías
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
#montaje de drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# Importar el data set
dataset = pd.read_csv('/content/gdrive/My Drive/datos_DL/Churn_Modelling.csv')

X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [0]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [0]:
y

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [0]:
# Codificar datos categóricos
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X_2 = LabelEncoder()
X.iloc[:, 2] = labelencoder_X_2.fit_transform(X.iloc[:, 2])

In [0]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71
6,822,France,1,50,7,0.00,2,1,1,10062.80
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88
8,501,France,1,44,4,142051.07,2,0,1,74940.50
9,684,France,1,27,2,134603.88,1,1,1,71725.73
10,528,France,1,31,6,102016.72,2,0,0,80181.12
11,497,Spain,1,24,3,0.00,2,1,0,76390.01
12,476,France,0,34,10,0.00,2,1,0,26260.98
13,549,France,0,25,5,0.00,2,0,0,190857.79
14,635,Spain,0,35,7,0.00,2,1,1,65951.65
15,616,Germany,1,45,3,143129.41,2,0,1,64327.26
16,653,Germany,1,58,1,132602.88,1,1,0,5097.67
17,549,Spain,0,24,9,0.00,2,1,1,14406.41
18,587,Spain,1,45,6,0.00,1,0,0,158684.81
19,726,France,0,24,6,0.00,2,1,1,54724.03
20,732,France,1,41,8,0.00,2,1,1,170886.17
21,636,Spain,0,32,8,0.00,2,1,0,138555.46
22,510,Spain,0,38,4,0.00,1,1,0,118913.53
23,669,France,1,46,3,0.00,2,0,1,8487.75
24,846,France,0,38,5,0.00,1,1,1,187616.16
25,577,France,1,25,3,0.00,2,0,1,124508.29
26,756,Germany,1,36,2,136815.64,1,1,1,170041.95
27,571,France,1,44,9,0.00,2,0,0,38433.35
28,574,Germany,0,43,3,141349.43,1,1,1,100187.43
29,411,France,1,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,1,42,7,151027.05,2,1,0,119377.36
9971,833,France,0,34,3,144751.81,1,0,0,166472.81
9972,758,France,1,26,4,155739.76,1,1,0,171552.02
9973,611,France,1,27,7,0.00,2,1,1,157474.10
9974,583,France,1,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,1,50,1,113957.01,2,1,0,196526.55
9976,637,France,0,33,7,103377.81,1,1,0,84419.78
9977,683,France,0,32,9,0.00,2,1,1,24991.92
9978,774,France,1,40,9,93017.47,2,1,0,191608.97
9979,677,France,0,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,1,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,1,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,0,46,7,137145.12,1,1,0,115146.40
9983,613,France,1,40,4,0.00,1,0,0,151325.24
9984,602,Germany,1,35,7,90602.42,2,1,1,51695.41
9985,659,France,1,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,1,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,1,30,8,180307.73,2,1,1,1914.41
9988,775,France,1,30,4,0.00,2,1,0,49337.84
9989,841,Spain,1,28,4,0.00,2,1,1,179436.60
9990,714,Germany,1,33,3,35016.60,1,1,0,53667.08
9991,597,France,0,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,1,36,2,0.00,1,1,0,195192.40
9993,644,France,1,28,7,155060.41,1,1,0,29179.52
9994,800,France,0,29,2,0.00,2,0,0,167773.55
9995,771,France,1,39,5,0.00,2,1,0,96270.64
9996,516,France,1,35,10,57369.61,1,1,1,101699.77
9997,709,France,0,36,7,0.00,1,0,1,42085.58
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52
9999,792,France,0,28,4,130142.79,1,1,0,38190.78

In [0]:
# crear un dataframe de variables dummies
dummy_Geography = pd.get_dummies(X["Geography"], prefix="geo",drop_first=True)
# el argumento drop_first elimina la primera variable para evitar colinealidad

# print(dummy_country)

# Borrar la variable original
X = X.drop(["Geography"], axis = 1)

# Concatenar las variables dummies con el dataframe original
X = pd.concat([dummy_Geography, X], axis = 1)

X.head()

,geo_Germany,geo_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,0,619,0,42,2,0.00,1,1,1,101348.88
1,0,1,608,0,41,1,83807.86,1,0,1,112542.58
2,0,0,502,0,42,8,159660.80,3,1,0,113931.57
3,0,0,699,0,39,1,0.00,2,0,0,93826.63
4,0,1,850,0,43,2,125510.82,1,1,1,79084.10

In [0]:
# Dividir el data set en conjunto de entrenamiento y conjunto de testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
# Escalado de variables
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

C:\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  """

In [0]:
np.mean(X_train)

8.01379165047613e-17

In [0]:
np.std(X_train)

1.0

# Parte 2 - Construir la RNA

In [0]:
# Importar Keras y librerías adicionales
import keras
from keras.models import Sequential
from keras.layers import Dense

C:\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [0]:
# Inicializar la RNA
classifier = Sequential()

In [0]:
# Añadir las capas de entrada y primera capa oculta
classifier.add(Dense(units = 6, kernel_initializer = "uniform",  
                     activation = "relu", input_dim = 11))

In [0]:
# Añadir la segunda capa oculta
classifier.add(Dense(units = 6, kernel_initializer = "uniform",  activation = "relu"))

In [0]:
# Añadir la capa de salida
classifier.add(Dense(units = 1, kernel_initializer = "uniform",  activation = "sigmoid"))

In [0]:
# Compilar la RNA
classifier.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [0]:
# Ajustamos la RNA al Conjunto de Entrenamiento
classifier.fit(X_train, y_train,  batch_size = 10, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4829 - acc: 0.7954
Epoch 2/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4272 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4217 - acc: 0.8050
Epoch 4/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4180 - acc: 0.8216
Epoch 5/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4160 - acc: 0.8285
Epoch 6/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4145 - acc: 0.8300
Epoch 7/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4130 - acc: 0.8320
Epoch 8/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4120 - acc: 0.8310
Epoch 9/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.4109 - acc: 0.8331
Epoch 10/100
8000/8000 [==============================] - 1s 98us/step - loss: 0.4099 - acc: 0.8335
Epoch 11/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4097 - acc: 0.8331
Epoch 12/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4086 - acc: 0.8350
Epoch 13/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4073 - acc: 0.8345
Epoch 14/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4066 - acc: 0.8366
Epoch 15/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4059 - acc: 0.8337
Epoch 16/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4059 - acc: 0.8341
Epoch 17/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4057 - acc: 0.8347
Epoch 18/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4046 - acc: 0.8349
Epoch 19/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4049 - acc: 0.8352
Epoch 20/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4043 - acc: 0.8347
Epoch 21/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4040 - acc: 0.8344
Epoch 22/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4041 - acc: 0.8332
Epoch 23/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4038 - acc: 0.8352
Epoch 24/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4032 - acc: 0.8360
Epoch 25/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4028 - acc: 0.8344
Epoch 26/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4026 - acc: 0.8340
Epoch 27/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4026 - acc: 0.8354 1s - loss:
Epoch 28/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4020 - acc: 0.8341
Epoch 29/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.4021 - acc: 0.8356
Epoch 30/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.4016 - acc: 0.8346
Epoch 31/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4016 - acc: 0.8345
Epoch 32/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.4016 - acc: 0.8341
Epoch 33/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4015 - acc: 0.8365
Epoch 34/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4011 - acc: 0.8339
Epoch 35/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4012 - acc: 0.8355
Epoch 36/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4011 - acc: 0.8346
Epoch 37/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4016 - acc: 0.8336
Epoch 38/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4013 - acc: 0.8344
Epoch 39/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4006 - acc: 0.8361
Epoch 40/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4008 - acc: 0.8354
Epoch 41/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4006 - acc: 0.8346
Epoch 42/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4010 - acc: 0.8351
Epoch 43/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4007 - acc: 0.8345
Epoch 44/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4007 - acc: 0.8344
Epoch 45/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4007 - acc: 0.8347
Epoch 46/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.4006 - acc: 0.8336
Epoch 47/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.4007 - acc: 0.8370
Epoch 48/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4010 - acc: 0.8342
Epoch 49/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4005 - acc: 0.8346: 0s - loss: 0.3766
Epoch 50/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4005 - acc: 0.8345
Epoch 51/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.4003 - acc: 0.8339
Epoch 52/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.4003 - acc: 0.8360
Epoch 53/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.4004 - acc: 0.8359
Epoch 54/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.4006 - acc: 0.8351
Epoch 55/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4007 - acc: 0.8341
Epoch 56/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4002 - acc: 0.8366
Epoch 57/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4001 - acc: 0.8342
Epoch 58/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4000 - acc: 0.8339
Epoch 59/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4002 - acc: 0.8344
Epoch 60/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4000 - acc: 0.8345
Epoch 61/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3997 - acc: 0.8352
Epoch 62/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.3993 - acc: 0.8359
Epoch 63/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3989 - acc: 0.8344
Epoch 64/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3988 - acc: 0.8337
Epoch 65/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3989 - acc: 0.8364
Epoch 66/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3986 - acc: 0.8336
Epoch 67/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3985 - acc: 0.8359
Epoch 68/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.3983 - acc: 0.8361
Epoch 69/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.3975 - acc: 0.8365: 0s - loss: 0.3912 -
Epoch 70/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3977 - acc: 0.8351
Epoch 71/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.3971 - acc: 0.8344
Epoch 72/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3974 - acc: 0.8341
Epoch 73/100
8000/8000 [==============================] - 1s 95us/step - loss: 0.3971 - acc: 0.8360
Epoch 74/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3971 - acc: 0.8366
Epoch 75/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.3967 - acc: 0.8360
Epoch 76/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.3965 - acc: 0.8365
Epoch 77/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.3960 - acc: 0.8365
Epoch 78/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.3958 - acc: 0.8356
Epoch 79/100
8000/8000 [==============================] - 1s 99us/step - loss: 0.3957 - acc: 0.8377
Epoch 80/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.3957 - acc: 0.8376
Epoch 81/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3951 - acc: 0.8374
Epoch 82/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3953 - acc: 0.8351
Epoch 83/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3948 - acc: 0.8355
Epoch 84/100
8000/8000 [==============================] - 1s 97us/step - loss: 0.3952 - acc: 0.8372
Epoch 85/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.3946 - acc: 0.8357
Epoch 86/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3952 - acc: 0.8381
Epoch 87/100
8000/8000 [==============================] - 1s 100us/step - loss: 0.3949 - acc: 0.8369
Epoch 88/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.3946 - acc: 0.8365
Epoch 89/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.3943 - acc: 0.8361
Epoch 90/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.3948 - acc: 0.8380
Epoch 91/100
8000/8000 [==============================] - 1s 90us/step - loss: 0.3949 - acc: 0.8360
Epoch 92/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.3942 - acc: 0.8371
Epoch 93/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.3942 - acc: 0.8364
Epoch 94/100
8000/8000 [==============================] - 1s 93us/step - loss: 0.3938 - acc: 0.8367
Epoch 95/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.3943 - acc: 0.8361
Epoch 96/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.3943 - acc: 0.8362
Epoch 97/100
8000/8000 [==============================] - 1s 93us/step - loss: 0.3936 - acc: 0.8367
Epoch 98/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3940 - acc: 0.8355
Epoch 99/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3936 - acc: 0.8365
Epoch 100/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3943 - acc: 0.8349

# Parte 3 - Evaluar el modelo y calcular predicciones finales

In [0]:
# Predicción de los resultados con el Conjunto de Testing
y_pred  = classifier.predict(X_test)
y_pred = (y_pred>0.5)

In [0]:
# Elaborar una matriz de confusión
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1549,   46],
       [ 260,  145]], dtype=int64)