In [51]:
# Plantilla de Pre Procesado - Datos Categóricos

# Cómo importar las librerías
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [122]:
# Importar el data set
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 3]

In [123]:
X.head()

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

In [124]:
y.head()

0     No
1    Yes
2     No
3     No
4    Yes
Name: Purchased, dtype: object

# transformar variables categoricas Nominales

In [47]:
# crear un dataframe de variables dummies
dummy_country = pd.get_dummies(X["Country"], prefix="country",drop_first=True)
# el argumento drop_first elimina la primera variable para evitar colinealidad

print(dummy_country)

# Borrar la variable original
X = X.drop(["Country"], axis = 1)

# Concatenar las variables dummies con el dataframe original
X = pd.concat([dummy_country, X], axis = 1)

X.head()

   country_Germany  country_Spain
0                0              0
1                0              1
2                1              0
3                0              1
4                1              0
5                0              0
6                0              1
7                0              0
8                1              0
9                0              0

   country_Germany  country_Spain   Age   Salary
0                0              0  44.0  72000.0
1                0              1  27.0  48000.0
2                1              0  30.0  54000.0
3                0              1  38.0  61000.0
4                1              0  40.0      NaN

# Transformar variables categoricas ordinales

In [125]:
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [126]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

# variables dummies con funcion

In [ ]:
def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis = 1)
    df = pd.concat([df, dummy ], axis = 1)
    return df
# se utiliza invocando createDummies(X,"Sex")