<font color=Green>
    
# **3.5 Fechas y tiempo**

</font>

### Para trabajar con valores de fecha y tiempo debemos utilizar el módulo `datetime`.

In [1]:
from datetime import date

d1 = date(2022,7,14)

print(d1)

print(type(d1))

2022-07-14
<class 'datetime.date'>

##  <font color=#003d5c> _datetime.date_ </font>
### La clase `datetime.date` tiene atributos para obtener el día, mes y el año de la fecha.

In [2]:
print(d1)

# Día
print('Día :',d1.day)

# Mes
print('Mes :',d1.month)

# Año
print('Año :',d1.year)

2022-07-14
Día : 14
Mes : 7
Año : 2022

### El método `date.today()` nos devuelve la fecha del día

In [ ]:
d1 = date.today()
print(d1)

# Día
print('Día :',d1.day)

# Mes
print('Mes :',d1.month)

# Año
print('Año :',d1.year)

##  <font color=#003d5c> _datetime.time_ </font>

### Un objeto de clase `datetime.time` tiene atributos para obtener la hora, los minutos y segundos de una hora.

In [3]:
from datetime import time

t1 = time(15,20,13,40)

print(t1)

print(type(t1))

15:20:13.000040
<class 'datetime.time'>

In [4]:
# Hora
print('Hora :',t1.hour)

# Minuto
print('Minuto :',t1.minute)

# Segundo
print('Segundo :',t1.second)

# Microsegundo
print('Microsegundo :',t1.microsecond)

Hora : 15
Minuto : 20
Segundo : 13
Microsegundo : 40

##  <font color=#003d5c> _datetime.datetime_ </font>
### La clase `datetime.datetime` contiene tanto la información de fecha como de hora.

In [5]:
import datetime

d1 = datetime.datetime.now()
d1

datetime.datetime(2022, 7, 14, 13, 38, 47, 296634)

In [7]:
d1 = datetime.datetime(2022,7,14,11,20,30,40)

print(d1)

# Día
print('Día :',d1.day)

# Mes
print('Mes :',d1.month)

# Año
print('Año :',d1.year)

# Hora
print('-------------- \n Hora :',d1.hour)

# Minuto
print('Minuto :',d1.minute)

# Segundo
print('Segundo :',d1.second)

# Microsegundo
print('Microsegundo :',d1.microsecond)

2022-07-14 11:20:30.000040
Día : 14
Mes : 7
Año : 2022
--------------
 Hora : 11
Minuto : 20
Segundo : 30
Microsegundo : 40

## <font color=#003d5c>_.weekday()_ </font>
### Este método nos devuelve un número correspondiente al día de la semana.
> __{Lunes: 0, Martes: 1, Miércoles:2, Jueves:3, Viernes:4, Sábado: 5, Domingo: 6}__

In [8]:
print(d1)
print(d1.weekday())

2022-07-14 11:20:30.000040
3

In [9]:
d1 = datetime.datetime.now()
d1

datetime.datetime(2022, 7, 14, 13, 40, 11, 983997)

In [10]:
print(d1.weekday())

3

In [11]:
print(d1.isoweekday())

4

## <font color=#003d5c>_.isocalendar()_ </font>
### Este método nos devuelve una tupla (`valor_1`,`valor_2`,`valor_3`) que representa una fecha:
+ `valor_1` indica el año en formato ISO.
+ `valor_2` indica la semana del año en formato ISO.
+ `valor_3` indica el día de la semana en formato ISO.

In [12]:
d1.isocalendar()

datetime.IsoCalendarDate(year=2022, week=28, weekday=4)

### Obtener fechas con otros métodos.

In [13]:
d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))

2020-04-23
<class 'datetime.date'>

In [14]:

d1_ISO = date(2020,4,23).isoformat()

print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'str'>

## <font color=#003d5c>_.strptime()_ </font>
### Este método nos permite leer una cadena de texto con una fecha en un formato indeterminado como un objeto de clase `.datetime`

|Formatos|Descripción|
|-------|-----------|
|`%a`|Nombre del día de la semana abreviado|
|`%A`|Nombre del día de la semana completo|
|`%w`|Día de la semana como número decimal|
|`%d`|Día del mes como número de dos dígitos|
|`%-d`|Día del mes como número decimal|
|`%b`|Nombre del mes abreviado|
|`%B`|Nombre del mes completo|
|`%m`|Mes del año número de dos dígitos|
|`%-m`|Mes del año como número decimal|
|`%y`|Año sin centenas como número de dos dígitos|
|`%-y`|Año sin centenas como número decimal|
|`%Y`|Año completo|
|`%H`|Hora en 24 hrs. con dos dígitos|
|`%-H`|Hora en 24 hrs. como número decimal|
|`%I`|Hora en 12 hrs. con dos dígitos|
|`%-I`|Hora en 12 hrs. como número decimal|
|`%M`|Minutos con dos dígitos|
|`%-M`|Minutos como número decimal|
|`%S`|Segundos con dos dígitos|
|`%-S`|Segundos como número decimal|

In [15]:
fecha = '14 July, 2022 13:41:13'

d1 = datetime.datetime.strptime(fecha,'%d %B, %Y %H:%M:%S')

print(d1)
print(type(d1))

2022-07-14 13:41:13
<class 'datetime.datetime'>

## <font color=#003d5c>_datetime.timedelta_ </font>
### La clase timedelta nos permite operar entre fechas.

In [16]:
d1 = datetime.datetime.now()

print("Fecha de hoy :",d1)

Fecha de hoy : 2022-07-14 13:42:10.827905

### Para obtener la fecha de pasado mañana realizamos una suma de fechas.

In [17]:
d2 = d1 + datetime.timedelta(days=2)
print("Fecha: 2 días a partir de hoy :",d2)

Fecha: 2 días a partir de hoy : 2022-07-16 13:42:10.827905

In [18]:
d3 = d1 + datetime.timedelta(weeks=2)
print("Fecha: 2 semanas a partir de hoy :",d3)

Fecha: 2 semanas a partir de hoy : 2022-07-28 13:42:10.827905

### Para obtener una fecha pasada debemos realizar una substracción.

In [19]:
d2 = d1 - datetime.timedelta(days=2)
print("Fecha: 2 días antes de hoy :",d2)

d3 = d1 - datetime.timedelta (weeks=2)
print("Fecha: 2 semanas antes de hoy :",d3)

Fecha: 2 días antes de hoy : 2022-07-12 13:42:10.827905
Fecha: 2 semanas antes de hoy : 2022-06-30 13:42:10.827905