<font color=Green>
    
# **3.4 Indexaci√≥n y filtrado**

</font>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
                  np.random.randint(low=0, high=10, size=(10, 2)),
                  index=['a','b','c','d','e','f','g','h','i','j'],
                  columns=["Cod_empleado","Calificacion"]
                 )
df

   Cod_empleado  Calificacion
a             4             2
b             4             7
c             5             1
d             6             9
e             4             0
f             8             4
g             7             4
h             0             7
i             7             0
j             3             2

In [3]:
df['Calificacion']

a    2
b    7
c    1
d    9
e    0
f    4
g    4
h    7
i    0
j    2
Name: Calificacion, dtype: int32

### <font color=#003d5c>_Seleccionar con `.loc`_ </font>

In [4]:
df.loc['a']

Cod_empleado    4
Calificacion    2
Name: a, dtype: int32

In [5]:
df.loc['b':'f']

   Cod_empleado  Calificacion
b             4             7
c             5             1
d             6             9
e             4             0
f             8             4

In [6]:

df.loc[df.index[3:7],'Cod_empleado']

d    6
e    4
f    8
g    7
Name: Cod_empleado, dtype: int32

### <font color=#003d5c>_Seleccionar con `.iloc`_ </font>

In [7]:
df.iloc[0:3]

   Cod_empleado  Calificacion
a             4             2
b             4             7
c             5             1

In [8]:
df.iloc[3:]

   Cod_empleado  Calificacion
d             6             9
e             4             0
f             8             4
g             7             4
h             0             7
i             7             0
j             3             2